extends ../layout/layout
block content
      - var action = '/edition/bdo/pilots'
      - action += pilot.isNew? '' : '/' + pilot.id
      section#post.postBlue
        article
          header.wrpl.w-3-3
            h1(style="color: #FFFFFF") #{pilot.name?pilot.name:'Create a new Pilot'}
      section#posts.default-area
          article
            #greenContainer.contents.clear.col-1.wrplGreen
              form(method='post' action=action name='TheForm')
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                - if (!pilot.isNew)
                  input(type="hidden", name="_method", value="PUT")
                .metadataFrame
                  #formErrors
                  div(class='metadataContainerPerson')
                    table.editionTable
                      tbody
                        tr
                          td Pilot name                            
                          td 
                            input#pilotNameAutocomplete(type='text', name="name", value=pilot.name, autocomplete='off')
                        tr
                          td Description                           
                          td 
                            input(type='text', name="description", value=pilot.description, autocomplete='off')
                        
                .editionActionBar
                  input.editionSaveButtonRight(type='submit' name='submit' value='Save')
                  a.editionCancelButtonRight(href="/dataset/bdo/pilots/#{pilot.name}", title="cancel") Cancel
                  .clear
                  
      script.
        //form validation before submit
        new FormValidator('TheForm', [{
            name: 'name',
            display: 'Pilot name',
            rules: 'required'
        }, {
            name: 'description',
            display: 'Description',
            rules: 'required'
        }
        
        ], function(errors, event) {
            if (errors.length > 0) {
              var errorString = '';
              for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
                  errorString += errors[i].message + '<br />';
              }
              document.getElementById('formErrors').style.display = 'block';
              document.getElementById('formErrors').innerHTML = errorString;
              event.returnValue=false;
            }
        });
        $(document).ready(function () {
          $( "#pilotNameAutocomplete" ).autocomplete({
              minLength: 1,
              source: function (request, response) {
               $.ajax({
                 url: "/dataset/bdo/api/v2/pilot/autoCompleteFull",
                 data: { q: request.term },
                 dataType: "json",
                 success: response,
                 error: function () {
                     response([]);
                 }
              });
             },
              position: {my : "left top",at: "left bottom"},
              messages: {noResults: '',results: function() {}},
              select : function(event, ui) {
                  location.href = '/dataset/bdo/pilots/' + encodeURIComponent(ui.item.name);
              },
             open: function(event, ui) {$(".ui-autocomplete").css("z-index", 1000);}
          }).data( "uiAutocomplete" )._renderItem = function( ul, item ) {
           return $( "<li></li>" )
             .data( "item", item )
             .append( "<a>" + item.name +"</a>")
             .appendTo( ul );
          };
        });